.git
.github
.env
*.md
*.txt
*.sql
!schema_postgres.sql
logs/*
application/temp/*
public/uploads/deposits/*
public/uploads/loans/*
public/uploads/profile/*
public/uploads/savings/*
public/uploads/transfers/*
!public/uploads/deposits/.gitkeep
!public/uploads/loans/.gitkeep
!public/uploads/profile/.gitkeep
!public/uploads/savings/.gitkeep
!public/uploads/transfers/.gitkeep
tests/
