<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ikiminta/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<FilesMatch "\.sql$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>
